.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.nav a {
    display: block;
    font-family: "Roboto Mono", monospace;}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img,
.logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li a:hover, .header nav div:hover{
    color: var(--accent-color);
    text-decoration: underline;

}

#menu li+li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 16px;
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}

/*----------------------------*/

.lang-select-dropdown {
    position: relative;
    display: inline-block;
}

.lang-select-dropdown-content {
    top: 50px;
    display: none;
    position: absolute;
    background-color: var(--entry);
    border-radius: var(--radius);
    border: 1px solid var(--border);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: calc(min(20em, 100vh - 100px));
    overflow-y: auto;
    overflow-x: hidden;
}

.lang-select-dropdown-content a {
    font-size: 14px;
    font-weight: inherit;
    line-height: 1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    transition: background-color 0.1s ease-in-out;
}

.lang-select-dropdown-content a:hover {
    background-color: #f1f1f1;
}

.lang-select-dropdown:hover .lang-select-dropdown-content {
    display: block;
}

.lang-select-dropdown-trigger {
    height: 100%;
    font-size: 26px;
    margin: auto 4px;
}

.nav-separator {
    margin: auto 4px;
}